#title{
    text-align: center;
    padding-top: 50px;
}

form {

    border-style: solid;
    border-color: rgb(8, 70, 70);
    padding-top: 60px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 80px;
    
    
}

#para1{
    width : "90px";
}